/* Import Blueprint CSS */
@import '~@blueprintjs/core/lib/css/blueprint.css';
@import 'katex/dist/katex.css';

.App {
  text-align: center;
  margin: 10em;
}

.katex-container {
  max-width: 10em; /* Adjust the width as needed */
}
